COMPOSE_PROJECT_NAME=fitnessapi
POSTGRES_DB=fitness
POSTGRES_USER=fitness
POSTGRES_PASSWORD=fitness_pass
DATABASE_DSN=host=db user=fitness password=fitness_pass dbname=fitness port=5432 sslmode=disable TimeZone=Asia/Shanghai
JWT_SECRET=change-me
SERVER_PORT=8080
